@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');
@font-face {
    font-family: weddingvintage;
    src: url(../fonts/weddingVintage.ttf);
}

body {
    font-family: 'Poppins', sans-serif;;
    margin: 0px;
    background-image: url(../imgs/birds.png);
}

button, input {
    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}


/*HEADER*/

header {
    text-align: center;
}
h1{
    font-family: 'Norican', cursive; 
    font-size: 36px;
    line-height: 1.2em;
}

.titleFonts{
    font-family: weddingvintage;    
}

header img {
    max-width: 150px;
    margin: 20px 0;
}

/*INTRO*/

.containerInfo {
    text-align: center;
}

.containerInfo h1 {
    background: linear-gradient(to left, rgba(0,255,255,1), rgba(147,39,143,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.containerInfo p {
    color: #666666;
}

.containerInfo p {
    padding: 0 25px;
    font-weight: bold;
}


/*FORM*/

.formContainer {
    text-align: center;
    margin-top: 50px !important;
}

.formContainer input {
    padding: 12px 25px;
    color: white;
    background: linear-gradient(90deg, rgba(147,39,143,1) 0%, rgba(0,255,255,1) 100%);
    border: none;
    -webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    border-radius: 25px;
}

.formContainer input::placeholder {
    color: white;
}

.formContainer button, .buttonsContainer{
    font-weight: 700;
    font-size: 16px;
    padding: 9px;
    background-color: white;
    border: none;
    margin-left: -5px;
}

.formContainer button {
    background: #666666;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
transition: background 0.4s linear;
}

.formContainer button:hover {
    background: linear-gradient(to right, rgba(0,255,255,1), rgba(147,39,143,1));
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}


/*LISTS*/

.listsContainer {
    display: flex;
    justify-content: space-around;
    margin: 50px 0;
    padding: 40px 0;
    background: linear-gradient(90deg, rgba(147,39,143,1) 0%, rgba(0,255,255,1) 100%);
    -webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
}

.dreamyBirdsContainer, .freeBirdsContainer {
    width: 50%;
}

.dreamyBirdsTitle, .freeBirdsTitle {
    text-align: center;
}

.dreamyBirdsTitle img, .freeBirdsTitle img {
    max-width: 60px;
}

.listDreamyBirds, .listFreeBirds{
    border: none;
    color: white;
}

.listDreamyBirds, .listFreeBirds {
    max-width: 100px;
    margin:auto;
    margin-top: 10px;
    padding:15px;
    border: none;
    color: white;
    width: 100%;
    height: 200px;
    overflow: auto;
    margin-bottom: 10px;
    border-radius: 5px;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.45);
}

.listDreamyBirds::-webkit-scrollbar, .listFreeBirds::-webkit-scrollbar{
    width: 10px;
}
.listDreamyBirds::-webkit-scrollbar-thumb, .listFreeBirds::-webkit-scrollbar-thumb{
    background-color: #666666;
    border-radius: 5px;
}


.buttonsContainer {
    margin-bottom: 35px;
    display: flex;
    justify-content: center;

}

h4 {
    /*font-family: weddingvintage;*/
    text-align: center;
    color: #666666;
    font-size: 24px;
}

.buttonsContainer button {
    padding: 12px 25px;
    margin: 0px 42px;
    color: white;
    background-color: white;
    margin-left: -5px;
    background: linear-gradient(to left, rgba(0,255,255,1), rgba(147,39,143,1));
    border: 1px solid white;
    border-radius: 25px;
    -webkit-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    box-shadow: inset 0px 0px 20px -4px rgba(0,0,0,0.75);
    transition: background 0.4s linear;
}

.buttonsContainer button:last-child {
    padding: 12px 25px;
    margin-right: 0px;
}

.buttonsContainer button:hover {
    background: #666666;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    
}

/*ANIMATION*/

.animation {
    min-height: 239px;
    max-height: 239px;
    overflow: hidden;
}

.animationContainer {
    position: relative;
}

#animationForest {
    display: none;
    min-height: 239px;
    max-height: 239px;
}

#animationBird {
    min-height: 239px;
    max-height: 239px;
}

#animationSky {
    display: none;
    min-height: 239px;
    max-height: 239px;
}

.first, .second, .third, .fourth, .fifth, .sixth {
    position:absolute;
    max-width: 100%;
  }

  .second { animation: 2s rotate360 infinite linear; }

.first {
    z-index: 1;
}
  
.second {
    z-index: -1;
}

.third{
    z-index: -2;
}
  
.fourth {
    z-index: -3;
}

.fifth{
    z-index: -4;
}
  
.sixth {
    z-index: -5;
}


#animationBird #birdSecond  {
    animation: rotate-animation 40s infinite linear;
}

#animationBird #birdThird  {
    animation: rotate-animation 80s infinite linear;
}
    
#animationBird #birdFourth  {
    animation: rotate-animation 160s infinite linear;
}

@keyframes rotate-animation {
    0% {
		transform: rotate(0deg);
    }
    50% {
		transform: rotate(180deg);
	}
	100% {
		transform: rotate(360deg);
	}
}


/*FOOTER*/

footer{
    margin: auto;
    text-align: center;
    margin: 40px 0 0 0;
    font-weight: 700;
    color: #666666;
}
.rombo{
    width: 10px;
    height: 10px;
    background: rgb(147,39,143);
    background: linear-gradient(90deg, rgba(147,39,143,1) 0%, rgba(0,255,255,1) 100%);
    transform: rotate(45deg);
    margin: 0 auto;
}
.separator {
    position: relative;
    width: 200px;
    margin: 0 auto;
}
.separator::before {
    content: "";
    border: 1px solid #ccc;
    width: 60px;
    position: absolute;
    top: 4px;
    right: 20px;
}
.separator::after {
    content: "";
    position: absolute;
    border: 1px solid #ccc;
    width: 60px;
    top: 4px;
    left: 20px;
}

@media (min-width: 768px) {

    .containerInfo, .formContainer, .buttonsContainer, .animation {
        max-width: 600px;
        margin: 0 auto;
    }

    .buttonsContainer {
        margin-bottom: 35px;
    }

    .animation {
        min-height: 337px;
        max-height: 337px;
    }

    #animationForest {
        min-height: 337px;
        max-height: 337px;
    }
    
    #animationBird {
        min-height: 337px;
        max-height: 337px;
    }
    
    #animationSky {
        min-height: 337px;
        max-height: 337px;
    }

    .listDreamyBirds, .listFreeBirds {
        padding: 15px 75px;
    }
    
    }

@media (min-width: 992px) {

    .containerInfo, .formContainer, .buttonsContainer, .animation {
        max-width: 800px;
    }

    .buttonsContainer {
        margin-bottom: 35px;
    }

        .animation {
            min-height: 450px;
            max-height: 450px;
        }

        #animationForest {
            min-height: 450px;
            max-height: 450px;
        }
        
        #animationBird {
            min-height: 450px;
            max-height: 450px;
        }
        
        #animationSky {
            min-height: 450px;
            max-height: 450px;
        }
        
}