html {
    box-sizing: border-box;
}
.containerInfo{
    background-color: aquamarine;
}

h1 {
    text-align: center;
}
.players {
    background-color: blueviolet;
    width: 95%;
    min-height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 15px;
}
.list1, .list2{
    border: 1px solid black;
    width: 40%;
    height: 250px;
}
#button {
    display: flex;
    justify-content: center;
    padding-top: 10px;
    

}